@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717; /* Adjusted for dark mode background */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background); /* Used var(--background) instead of hardcoding */
  font-family: 'Poppins', sans-serif; /* Ensures font is used consistently */
}

.your-element-class {
  will-change: transform;
}
