/* Hides scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hides scrollbar for Firefox */
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  